@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
html {
  font-family: "Electrolize", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
}
.logo {
  margin-left: 2.5%;
  font-size: 24px;
}
.title {
  margin-left: 1%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2px;
}
.fa-solid-fa-check-double {
  color: red;
}
header {
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 14px black;
  margin-bottom: 74px;
  height: 64px;
}
nav {
  width: 100%;
  margin-right: 3%;
}
.personal {
  display: flex;
  justify-content: end;
  margin-left: auto;
}
.links {
  display: flex;
  align-items: center;
}
li {
  margin: 5px;
  font-size: 12px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.account,
.login,
.signup,
.more,
.premium {
  cursor: pointer;
  background-color: rgb(124, 0, 0);
  padding: 2px 4px;
  border-radius: 4px;
}
.account {
  margin-right: 47px;
}
#burger {
  display: none;
}

#burger.fas.fa-bars::before {
  cursor: pointer;
}
.icons {
  position: absolute;
  font-size: 30vh;
  display: flex;
  right: 10%;
  align-items: center;
}
.secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-left: 50px;
  font-size: 10vh;
}
.fa-tablet {
  font-size: 150px;
  margin-bottom: 30px;
}
.fa-laptop {
  font-size: 100px;
}
.info-header {
  width: 43%;
  margin-left: 7%;
  padding: 4px;
  font-weight: bold;
  font-size: 43px;
  padding-top: 64px;
}
.info-text {
  border: 2px black;
  font-size: 40%;
  font-weight: normal;
  margin-top: 10px;
}
.extra {
  margin-left: 7%;
  list-style: none;
  text-align: center;
  display: flex;
  margin-top: 50px;
}
.functions {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 3px;
}
hr {
  width: 85%;
  margin-top: 74px;
  margin-bottom: 74px;
}
h1 {
  display: flex;
  justify-content: center;
  padding-top: 2vh;
}
.texts {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  color: black;
  margin-right: 4vw;
}
h2 {
  font-weight: bold;
  color: black;
}
h3,
h4 {
  color: white;
}
p {
  color: black;
  font-size: 14px;
}
.sub1,
.sub2,
.sub3 {
  width: 20%;
}
img {
  width: 100%;
}
.fa-fa-mobile {
  justify-content: flex-end;
}
.footer {
  height: 200px;
  margin-top: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}
li.contact1,
li.contact2,
li.contact3 {
  width: 20%;
  margin-right: 4vw;
}
form {
  display: flex;
  justify-content: center;
}
#formContainer {
  padding: 16px;
  width: 60%;
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  box-shadow: 0px 0px 8px black;
}
.agreement {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.terms {
  color: rgb(0, 247, 255);
  background-color: rgb(29, 29, 29);
  font-size: 11px;
}
.labels {
  color: white;
  padding: 5px 0px 5px 0px;
}
.signup-header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
input[type="email"],
input[type="password"] {
  font-size: 11px;
  padding: 7px;
  border: none;
  display: flex;
  width: 94%;
}
button {
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(10, 119, 13);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.overview-title {
  font-weight: bold;
  font-size: 5vh;
  margin-left: 9.5vw;
  margin-bottom: 1vh;
  justify-content: end;
  display: flex;
  margin-right: 10vw;
}
.layout {
  width: 80vw;
  height: 240px;
  background-color: black;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.topics {
  display: flex;
  flex-direction: column;
}
.options {
  border: 2px solid black;
  box-shadow: -11px 0px 7px red;
  max-width: 21vw;
  padding: 10px 34px 10px 10px;
  font-size: 3vh;
  cursor: pointer;
}
.options:hover {
  box-shadow: -14px 0px 7px white;
}
#body-info {
  color: white;
  font-size: 20px;
  display: none;
}
label {
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}
ul.unit {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 28vw;
}
.unit-styling {
  background-color: red;
  padding: 1px 4px 1px 4px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  width: 8vw;
}
input.height,
input.weight {
  height: 14px;
  margin-right: 1vw;
  padding: 2px 0px 2px 3px;
  width: 11vw;
}
iframe {
  width: 400px;
  height: 200px;
  border: 0;
  display: flex;
}
.infobox {
  display: flex;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  margin-bottom: 5vh;
  width: 5vw;
}
th,
td {
  border: 1px solid black;
}
table {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
}
@media screen and (max-width: 768px) {
  #burger {
    display: block;
  }
  nav li {
    display: none;
  }
  .icons {
    display: none;
  }
  ul.texts {
    flex-direction: column;
    align-items: center;
  }
  .contact3 {
    display: none;
  }
  .info-header {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .extra {
    justify-content: center;
  }
}
